@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body {

}
.clear{
    clear: both !important;
  }
img {
    height: 100px;
    width: 100px;
    margin: 0px;
    vertical-align: middle;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-padding {
    padding-top: 50px;
    margin-top: 50px;

}
h1,h2,h3{
    font-size: 20px;
}

/*=========main css area start ========*/
#header {
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow:hidden !important;

}

/*==== main memu css area start =======*/
.header-area {
    /* height: 60px; */
    width: 100%;
    position: relative;
     background: linear-gradient(to right, rgba(46, 55, 139, 1), rgba(0, 164, 77, 1));

}

.header-area {
   


}

.logo {
}

.logo img {
    height: 60px;
    width: 153px;
    vertical-align: middle;
}

.main-menu {
    text-align: center;
  /*   height: 60px; */
    float: right;

}

.main-menu ul {
    list-style: none;
    margin: 0px;
}

.main-menu ul li {
    margin: 0px;
    float: left;
}

.main-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 15px;
    line-height: 60px;
    font-size: 15px;
}

.main-menu ul li a span {
    color: #fff;
    font-size: 30px;
    transition: 0.5s all;
}


.main-menu ul li a:hover {
    color: red;


}

.main-menu ul li a span:hover {
    background: #412f2a;
    padding: 5px;
    border-radius: 50%;
    transition: .5s all;


}


.main-slider {
    position: relative;
    background: #f2f2f2;
    height: 400px;
    width: 100%;
  }
  .slider-item {
    height: 400px;
    width: 100% !important;
    position: relative;
    z-index: 9;
    margin-top: 50px;
  }
  .slider-item img {
    height: 300px;
    max-width: 400px;
    float: right;
    margin-right: 50px;
    top: 50px;
  }
/* ========================main menu end here==================== */
.contant {}

.contant-left {
    position: absolute;
    bottom:10%;
    left: 0%;
    content: "";
    width: 100%;
    background: linear-gradient(to right, rgba(46, 55, 139, 1), rgba(0, 164, 77, 1));
    padding: 30px;
    transition: 4s all;
}

.contant-left h1 {
    color: #000;
    font-size: 40px;
    font-family: Roboto;
    font-weight: bolder;
    transition-duration: 30000ms;


}

.contant-left p {
    color: #000;
    font-size: 25px;
    font-family: Open Sanc;
    font-weight: 400px;
  

}

.contant-left button {
    padding: 10px 30px;
    border: 2px solid #f7ecec;
    border-radius: 25px;
    background: transparent;

}

.contant-left button a {
    color: #fff;
    padding: 20px 35px;
}

.contant-left button:hover {
    border: 2px solid rgba(14, 155, 55, 44);
    background: #2e18d1;
    transition: 1s all
}

.contant-right {
    position: absolute;
    top: 60%;
    left: 70%;
    content: "";

}

.contant-right img {
    height: 300px;
    width: 300px;

    font-family: Roboto;
    font-weight: bolder;
    box-shadow: 2px 2px #ff0000;
    transform: scaleX(1.10);
    transform: rotate(40deg);
}

/*=====================*/

.contant-left {
    animation: ani 4s;
}

.contant-right {
    animation: ani2 4s;
}

@keyframes ani {
    0% {
        left: 0px;
        opacity: 0%;
    }

    100% {
        bottom: 10%;
    }
}

@keyframes ani2 {
    0% {
        left: 0px;

    }

    100% {
        left: 70%;
        top: 60%;
        transform: translateY(1.5);
    }
}

/*===========header css part end here ============*/
/*===========header css part end here ============*/
/*===========header css part end here ============*/

.accrdion-part {
    background: linear-gradient(to right, rgba(46, 55, 139, 1), rgba(0, 164, 77, 1));
    min-height: 800px;
    width: 100%;
    padding-top: 40px;

}

.card-header {
    border: 2px solid #fff;
    border-radius: 35px;
    background: linear-gradient(to right, rgb(156, 92, 242), rgba(0, 164, 77, 1));
}

.card {
    background: #fff;
    border: 2px solid rgb(41, 37, 34);
}

.card-header a {
    color: #fff;
    font-size: 22px;
    padding: 10px;

}

.card-header span {
    color: #fff;
    font-size: 35px;
    padding: 10px;

}

.accord-right {
    text-align: left;

    padding: 188px 81px;

}

.accord-right h1 {
    color: #fff;
    font-size: 45px;
    font-family: Roboto;
    font-weight: bold;
}

.accord-right p {
    margin: 0px;
    color: #fff;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400px;
    font-weight: bold;

}

.accord-right button {
    border: 1px solid #fff;
    padding: 10px 15px;
    background: #8e5d5d;
    border-radius: 25px;
    margin-top: 50px;
    transition: 1s all;
}

.accord-right button a {
    color: #fff;
    font-size: 18px;
    font-family: Roboto;
    padding: 10px 25px;
    font-weight: 400px;
}

.accord-right button:hover {
    border: 2px solid rgba(14, 155, 55, 44);
    background: #2e18d1;
    transition: 1s all
}


/*==============================     ACCORDION CSS AREA END ===============*/

.secure-area {
    min-height: 650px;
    width: 100%;
    background: #fff;


}

.secure-left img {
    float: left;
   height: auto ;
    width:100%;
    transform: scale(1.0);
    box-shadow: 5px 5px 5px 5px #555454;
}

.secure-right {
    padding: 27px;
}

.secure-right h1 {
    color: #000;
    font-size: 45px;
    font-family: Roboto;
    font-weight: 400ps;


}

.secure-right p {
    margin: 0px;
    color: #000;
    font-size: 18px;
    font-family: inherit;
    font-weight: normal;
    line-height: 26px;

}

.secure-content {
    margin-bottom: 50px;
    margin-top: 50px
}

/*================= SECURE CSS AREA END  ===================*/
.grupe-content{
    text-align: center;
}
.our-tools-area {
    width: 100%;
    background: rgb(0, 22, 23, 37);
   

}

.tools-box {
    padding: 100px 0px;
}

.tools-box h1 {
    margin: 0px;
    color: #fff;
    font-size: 45px;
    font-family: Roboto;
    font-weight: bold;
    padding: 10px;

}

.tools-box p {
    margin: 0px;
    color: #fff;
    font-size: 18px;
}

.tools {
text-align: center ;}

.tools img {
    padding: 20px 30px;
    height: 150px;
    width: 173px;
}

/*=========== TOOLS AREA END ===============*/

.our-grupe-area {
    width: 100%;
    background: rgb(0, 7, 11, 8);
    padding: 50px 0px ;
}

.grupe-content {
    text-align: center;
}
.our-grupe{
    text-align: center;
  
}
.our-grupe h1 {
    color: #fff;
    font-size: 48px;
    font-family: Roboto;
    font-weight: bolder;
    padding: 50px 100px ;
}

.grupe-content a img {
    padding: 14px 10px;
    height: 171px;
    width: 181px;
}

/*==================      GRUPE CSS END -===============*/
/*================YOUMARTH CCSS AREA START =================*/
.youmarth-area {
    position: relative;
    height: 350px;
    width: 100%;
    background: linear-gradient(to right, rgb(156, 92, 242), rgba(0, 164, 77, 1));
    overflow: hidden;
}

.youmarth-content-left {
    width: 500px;
    background: ;
    margin-left: 0px;
    margin-top: 59px;
    float: left;
}

.youmarth-content-left h1 {
    margin: 0px;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bolder;
}

.youmarth-content-left p {
    margin: 0px;
    color: #fff;
    font-size: 16px;
    font-family: inherit;

}

.youmarth-content-left h3 {
    color: #fff;
    font-size: 30px;
    font-family: Roboto;
}

.youmarth-content-left button {
    margin-top: 30px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 10px;


}

.youmarth-content-left button a {
    color: #fff;
    font-size: 16px;
    padding: 16px 25px;
}

.youmarth-content-left button:hover {
    background: linear-gradient(to right, rgb(32, 31, 33), rgba(0, 164, 77, 1));
}

.youmarth-content-right {}

.youmarth-content-right img {
    height: 303px;
    width: 502px;
    float: right;
    position: absolute;
    top: 30%;
    left: 63%;
    transform: skewY(20deg);
    box-shadow: 16px 22px 8px 24px #5B5B5B;

}

/*====================== YOUMEARTH CSS END ==================*/
/*====================== YOUMEARTH CSS END ==================*/

.conarea {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;


}

.conarea-content h1 {

    color: #337cf2;
    font-size: 42px;
    font-family: Robot;
    font-weight: bolder;
    margin-bottom: 15px;
    margin: 0px auto;
    padding-bottom: 30px;
}

.conarea-content h3 {
    color: #000;
    font-size: 17px;
    font-family: Roboto;
    font-weight: bold;
    margin: 0px auto;
    padding-bottom: 10px;

}

.conarea-content p {

    color: #000;
    margin: 0px auto;
    font-size: 15px;
    text-align: left;
    font-family: inherit;
}

.conarea-content2 {
    margin-bottom: 40px;
}

/*======================      conarea css ended ==============*/
.pro-area {
    background: #0D0524;
}

.area-con {
    padding: 106px 241px;
}

.cont {
    text-align: center;

}

.cont h1 {
    color: #fff;
    margin: 0px;
    font-size: 30px;
    font-family: Roboto;
    padding-bottom: 10px;
}

.cont p {
    color: #fff;
    margin: 0px;
    font-size: 16px;
    padding-bottom: 10px;
}

.cont button {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 30px;
    transition: 1s all;


}

.cont button a {
    color: #fff;
    font-size: 16px;
    padding: 0px 25px;

}

.cont button:hover {
    border: 2px solid rgba(14, 155, 55, 44);
    background: #2e18d1;
    transition: 1s all;
   

}









/*=================   shop area css start ==================*/
.shop-cone-area {
    min-height: 300PX;
    width: 100%;

}

.images-le img {
    height: 300px;
    width: 100%;
    vertical-align: middle;
    margin: 0px auto;
    margin-left: 0px;

}

.images-ri {
    padding: 12px 0px;
}

.images-ri h3 {
    color: #000;
    font-size: 35px;
    font-family: Roboto;
}

.images-ri p {
    color: #000;
    margin: 0px;
}


.images-ri a {
    margin: 0px;
    font-size: 18px;
}

.bt button {


    background: transparent;
    border: 2px solid #151515;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 30px;
    transition: 1s all;
}

.bt button a {
    font-size: 16px;
    padding: 10px 25px;
}

.bt button:hover {
    border: 2px solid rgba(14, 2, 3, 4);
    background: #a74aeb;
    transition: 1s all;
}




.co-area {
    margin-top: 50px;


}

.co-area:hover {
    box-shadow: 5px 5px 5px 5px#c9c6c6;
    transform: scale(1.1);
    transition: 1s;
}

/*============ SHOP AREA END HERE ===========*/




/*====================== FOOTER AREA CCSS START =====================*/
/*====================== FOOTER AREA CCSS START =====================*/
/*====================== FOOTER AREA CCSS START =====================*/
/*====================== FOOTER AREA CCSS START =====================*/
/*====================== FOOTER AREA CCSS START =====================*/


.footer-area {
    background: #0D0524;
    padding-top: 100px;
    padding-bottom: 10px;
    margin-top: -7px ;
}



.con1 {

    padding: 9px;
}

.foter-content {}

.foter-content h4 {
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    margin: ;
    padding: 10px;
    font-family: sans-serif;
}

.foter-content input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;

}

.foter-content button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    background: #2c2ceb;

}

.ic a span {
    font-size: 35px;
    padding: 10px 15px;
    color: #fff;
}

.ic a span:hover {

    color: #c14242;
}


.foter-content h1 {
    color: #fff;
    font-family: sans-serif;
}

.foter-content h3 {
    color: #fff;
    font-family: sans-serif;
}

.foter-content a {
    color: #fff;
    font-family: sans-serif;
}

.foter-content a:hover {
    color: #4558ef;

}

.btu button {
    background: transparent;
    border: 2px solid #e23737;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 30px;
    transition: 1s all;
}


.btu button a {
    font-size: 16px;
    padding: 10px 25px;
}

.btu button:hover {
    border: 2px solid rgba(14, 2, 3, 4);
    background: #a74aeb;
    transition: 1s all;
}

.fcon h1 {
    color: #fff;
}

.list ul {
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.list ul li {}

.list ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: -18px 0px;
    margin: -1px 0px;
    display: block;
    padding: 7px 0px;
    margin: 0x;
    font-family: Roboto;

}

.list ul li a:hover {
    color: rgba(185, 105, 244, 0.63);

}

.list-last ul li {
    list-style: none;
}

.list-last ul li a img {
    padding-bottom: 10px;
}

.last-f {
    text-align: center;
    padding: 10px;
}

.last-area {
    background: #0D0524;


}

/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                                                         ========================================================*/
/*=========================================INDEX FOOTER AREA CSS CLOSE HERE                                                           
========================================================*/


/*=============  SERVICE AREA CSS START HERE===========*/
/*=============  SERVICE AREA CSS START HERE===========*/
/*=============  SERVICE AREA CSS START HERE===========*/
/*=============  SERVICE AREA CSS START HERE===========*/

#bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#bg-video2{
   
    width: 100vw;
    height: 700px;
    object-fit: cover;
    position: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.service-header{
    /* background: red;
    height: 400px;
    width: 100%; */
}

.our-product-area {
    background: #000;
    margin: 0px auto;
    text-align: center;


}

.product-area {
    background-image: url("../images/skyviewbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    width: 100%;
}

.our-product h1 {
    margin: 0px;
    padding: 0px 100px;
    padding-top: 0px;
    color: #000;
    font-size: 48px;
    font-family: Roboto;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.product {
    position: relative;
    left: 0;
    border: 1px solid red;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 10px #000;
}

.product-image {
    height: 300px;

}

.product-image img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.5s all;
}

.product-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(46, 55, 139, 1), rgba(0, 164, 77, 1));
    opacity: 30%;
    transition: 0.5s all;

}

.product:hover .product-overlay {
    opacity: 80%;

}

.product-info {
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    padding: 0px;
    left: 0;
    right: 0%;
    text-align: center;
    transition: 0.5s all;
}

.product:hover .product-info {
    top: 60%;
}

.product-info h2 {
    color: #fff;
    font-size: ;
    font-family: Roboto;
    font-weight: 400px;

}

.product:hover .product-image img {
    transform: scale(1.3);

}

/*================ COMPANY CSS AREA START ========*/
/*================ COMPANY CSS AREA START ========*/
/*================ COMPANY CSS AREA START ========*/
/*================ COMPANY CSS AREA START ========*/
.imges1-area {
    background: red;
    margin: 0 auto;

}

.le-image {
    float: left;
}

.le-image img {
    height: 500px;
    width: 800px;
    transform: scale(1.1);
    box-shadow: 5px 6px 7px !important;
    position: relative;
}

.l-con {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.le-image p {}







.right-imge {
    float: right;
}

.right-imge img {
    width: 439px;
    height: 500px;
    margin: 0px;

}


.bg-images-content {
    background-image: url("../images/bgimage1.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
}

.bg-images-content2 {
    background-image: url("../images/bgimge2.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
}

.bg-images-content3 {
    background-image: url("../images/bgimages3.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
}

.bgimage-con {
    top: 40%;
    left: 0;
    width: 100%;
    margin-top: 40%;
}

.bgimage-con h1 {
    color: #fff;
    font-size: 114px;
    font-family: Roboto;
    font-weight: revert;

}

.bgimage-con p {
    color: #fff;
    margin: 0px;
    font-size: 16px;
    font-family: Roboto;
    line-height: 22px;

}
.bg-vdio{
    position: relative;
}
.v-con{
    position: absolute;
    top: 100px;
}

/*====================== careeres csss area ==================*/
.Careers-content3 {}

.Careers-con {
    padding-top: 100px;
    padding-bottom: 100px;
}

.Careers-con h1 {
    margin: 0px;
    font-size: 100px;
    color: #000;
    font-family: Robto;
    font-weight: revert;
}

.Careers-con h3 {
    color: #000;
    margin: 0px;
    font-size: 22px;
    font-family: Robto;
    font-weight: normal;
}

.Careers-con p {
    color: #000;
    margin: 0px;
    font-size: 16px;
    font-family: revert;
}

/*======= digital css ================*/
.digital-con {
    background: #2C404C;
    line-height: initial;
}

.digital-con h1 {
    color: #fff;
    margin: 0px;
    padding: 10px;
    font-size: 60px;
    font-family: Roboto;
    font-weight: inherit;
}

.digital-con h6 {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    font-family: initial;
    color: #fff;
}

.digital-con p {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    font-family: initial;
    color: #fff;
}

/*======= account css ===========*/
.account-con {
    background: #fff;
    line-height: initial;
}

.account-con h1 {
    color: #000;
    margin: 0px;
    padding: 10px;
    font-size: 60px;
    font-family: sans-serif;

}

.account-con h6 {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    font-family: initial;
    color: #000;
}

.account-con p {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    font-family: initial;
    color: #000;
}

.btud {
    padding: 20px;
}

.btud button {
    border: 2px solid #bbb;
    border-radius: 25px;
    background: transparent;
    transition: 1s all;
    padding: 10px 20px ;
}

.btud button a {
    padding: 10px 25px;
    font-size: 19px;
    color: #000;
}

.btud button:hover {
    border: 2px solid rgba(14, 2, 3, 4);
    background: #a74aeb;
    transition: 1s all;
}

/*==========================================*/
.service2-header {
    position: relative;
    overflow: hidden;
}

.contant2 {
    position: absolute;
    top: 100px;
    left: 100px;

}


/*================= CONTACT  PAGE CSS START ==================*/
/*================= CONTACT  PAGE CSS START ==================*/
/*================= CONTACT  PAGE CSS START ==================*/
.service-contact-header {
    position: relative;
    text-align: center;



}

.contact-area {
    position: absolute;
    top: 100px;
    background: rgba(230, 218, 218, 0.5);
    padding: 20px;
    margin: 0 auto;
    opacity: 100%;
  
}

.input-form {
    width: 400px ;
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 1px solid #000;
    color: #000000;
    border-radius: 5px;
}

.button {
    padding: 10px 30px;
    border: 2px solid !important;
    border-radius: 25px;
    background: transparent;
}

/*============================*/
/*============================*/
/*============================*/

